body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero{
    height: 100vh;
    display: flex;
    background-color: #050a09;
    width: 100%;
}
.heroContainer{
    width: 100%;
    height: 100%;
    padding: 50px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heroContainer h3{
    color: #00fff2;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.heroContainer h1{
    color: white;
    font-size: 2rem;
}
.heroContainer h2{
    color: rgb(0, 122, 192);
    font-size: 1.4rem;
    margin: 10px 0;
}
.heroContainer p{
    color: #a4a4a4;
    font-size: 1rem;
    width: 60%;
    line-height: 1.5rem;
}
.heroContent{
    margin-left: 80px;
}
.profilePic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    top: -50px;
    right: -68%;
    background: url('../../assets/profile.jpg');
    background-size: cover;
}
.profilePic::after {
  content: '';
  position: absolute;
  inset: 0; /* covers the whole circle */
  border-radius: 50%;
  background: rgba(17, 1, 1, 0.329); /* light transparent layer */
  backdrop-filter: blur(3px); /* the blur effect */
}
.socialIcons{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -80px;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
.socialIcons li a{
    color: rgb(38, 192, 0);
    font-size: 1.2rem;
    margin: 10px 0;
    text-decoration: none;
}
.socialIcons li a:hover{
    transform: translateX(2rem);
    color: rgb(0, 122, 192);
}
.scrollDown{
    width: 1px;
    border: 1px solid rgb(0, 122, 192);
    height: 120px;
    position: relative;
    top: -84px;
    margin-left: 7px;
    
}
