.footer{
    background-color: #050a09;
    height: 50px;
    display: flex;
    justify-content: center;
    width: 100%;

}
.footer p{
    color: #00fff2a8;
     text-shadow: 0 0 2px #00fff28f, 0 0 6px #00fff2, 0 0 8px #00fff29d;
    font-size: 0.9rem;
    align-self: center;
}